body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("/images/mario-bg.jpg");
    background-size: cover;
}
h1{
    font-size: xx-large;
    color: rgb(29, 8, 8);
    font-style: normal;
}
#board {
    width: 540px;
    height: 540px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("/images/soil.png");
    background-size: cover;
    border: 3px solid #fff;
    border-radius: 25px;

}
#board div{
    width: 180px;
    height: 180px;
    background-image: url("/images/pipe.png");
    background-size: cover;
}

#board div img{
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}